

/* prowess info tech*/


@import url('https://fonts.googleapis.com/css?family=Molengo');

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
   color:#8a8e8d;
    font-size: 17px;
    font-family: 'Molengo', sans-serif;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: inherit;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: inherit;
}

a{
  text-decoration: none;
}





#catgroy::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
   color:#8a8e8d;
    font-size: 14px;
    font-family: 'Molengo', sans-serif;
    opacity: 1; /* Firefox */
}

#catgroy:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: inherit;
}

#catgroy::-ms-input-placeholder { /* Microsoft Edge */
    color: inherit;
}

#datepicker::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
   color:#8a8e8d;
    font-size: 14px;
    font-family: 'Molengo', sans-serif;
    opacity: 1; /* Firefox */
}

#datepicker:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: inherit;
}

#datepicker::-ms-input-placeholder { /* Microsoft Edge */
    color: inherit;
}



#numberInput::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:#8a8e8d;
    font-size: 13px;
    font-family: 'Molengo', sans-serif;
    opacity: 1; /* Firefox */
}

#numberInput:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: inherit;
}

#numberInput::-ms-input-placeholder { /* Microsoft Edge */
    color: inherit;
}



#numberInput_reg::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:#8a8e8d;
    font-size: 13px;
    font-family: 'Molengo', sans-serif;
    opacity: 1; /* Firefox */
}

#numberInput_reg:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: inherit;
}

#numberInput_reg::-ms-input-placeholder { /* Microsoft Edge */
    color: inherit;
}



#otpnumberInput::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:#8a8e8d;
    font-size: 13px;
    font-family: 'Molengo', sans-serif;
    opacity: 1; /* Firefox */
}

#otpnumberInput:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: inherit;
}

#otpnumberInput::-ms-input-placeholder { /* Microsoft Edge */
    color: inherit;
}


#mobile_input_reg::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:#8a8e8d;
    font-size: 13px;
    font-family: 'Molengo', sans-serif;
    opacity: 1; /* Firefox */
}

#mobile_input_reg:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: inherit;
}

#mobile_input_reg::-ms-input-placeholder { /* Microsoft Edge */
    color: inherit;
}



#passwordInput::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:#8a8e8d;
    font-size: 13px;
    font-family: 'Molengo', sans-serif;
    opacity: 1; /* Firefox */
}

#passwordInput:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: inherit;
}

#passwordInput::-ms-input-placeholder { /* Microsoft Edge */
    color: inherit;
}


#passwordInput_reg::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:#8a8e8d;
    font-size: 13px;
    font-family: 'Molengo', sans-serif;
    opacity: 1; /* Firefox */
}

#passwordInput_reg:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: inherit;
}

#passwordInput_reg::-ms-input-placeholder { /* Microsoft Edge */
    color: inherit;
}







body {

  background-color:#e8e8e8 !important;
  padding: 0;
  margin:0;}

/*body,
.navbar-fixed-top,
.navbar-fixed-bottom {
  min-width: 970px;
}*/

.navbar{
  background-color: #fff;
}

.jumbotron {
    padding: 0px !important;
}

.pws-text-cm{

  border: none;

}

.container{

max-width: 1280px;

}
.pws-find-btn{
   border-radius: 0;
  background-color: #36cca7;
  color: #fff;
  border: none;
  font-weight: 600;
  outline: none;
  height: 50px;
  width: 104px;
  float: right;

}


.pws-arrw-btn{
background-color: #07c394 !important;
text-decoration: none;
padding: 5px;
margin-bottom: 5px;
color: #fff;
}
.pws-arrw-btn:hover{
  text-decoration: none;
  color: #fbfbfb;
}


.pws-find-btn:hover{

  background-color: #78e5ca;
  color: #ffffff;
  outline: none;
}

.pws-find-book{

  margin: 0 auto; 
  width: 200px;
  color: #fff; 
  font-size:18;
  margin-top: 200px;
}
.pws-form-field{
background: #fff;
width:650px;
height: 52px;
border-radius: 2px;
padding-left: 10px;
border: 1px solid #b4b4be;
margin:0 auto; 
margin-top:50px;
-webkit-box-shadow: 0px 7px 26px -6px rgba(56,55,56,0.46);
-moz-box-shadow: 0px 7px 26px -6px rgba(56,55,56,0.46);
box-shadow: 0px 7px 26px -6px rgba(56,55,56,0.46);
}

.pws-addon{
border-right: 1px solid #909090 !important;
padding-right: 5px !important;
padding-left: 10px !important; 

}

.pws-cat-field{
    font-family: inherit;
    font-size: inherit;
     border: 0;
   width: 250px;
   padding: 5px;
   outline: none;
  
}

.pws-date-field{
border: 0;
padding: 5px;
outline: none;

}






#catgory {
    background: white url(../img/cat.png) left no-repeat;
    padding-left: 35px;
}


#date {
    background: white url(../img/date.png) left no-repeat;
    padding-left: 35px;
}








.container-full-bg {width:100%;max-width:100%;background-position:center;background-size:cover;}

/* Don't let the lead text change font-size. */
.lead {
  font-size: 16px;
}

.container {
  width: 1280px;
  max-width: none !important;
}
/* Demonstrate the grids */
.col-xs-4 {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #eee;
  background-color: rgba(86,61,124,.15);
  border: 1px solid #ddd;
  border: 1px solid rgba(86,61,124,.2);
}

.container .navbar-header,
.container .navbar-collapse {
  margin-right: 0;
  margin-left: 0;
}

.navbar-default{
  height: 60px !important;
  background-color: #ffffff !important;
}

/* Always float the navbar header */
.navbar-header {
  float: left;
  margin-top: 5px;
  
}


.menu-icon{
  width: 20px;
  height: 20px;
}

 .btn-signin{
  background-color: #fff !important;
  border:  1px solid #36cca7 !important;
}

.btn-signin:hover{
  color: #36cca7;
}

/* Undo the collapsing navbar */
.navbar-collapse {
  display: block !important;
  height: auto !important;
  padding-bottom: 0;
  overflow: visible !important;
  visibility: visible !important;
}

.navbar-toggle {
  display: none;
}
.navbar-collapse {
  border-top: 0;
}

.navbar-brand {
  margin-left: -15px;
}

/* Always apply the floated nav */
.navbar-nav {
  float: left;
 margin-top: 12px;
}
.navbar-nav > li {
  float: left;
}
.navbar-nav > li > a {
  padding: 15px;
}

/* Redeclare since we override the float above */
.navbar-nav.navbar-right {
  float: right;
}

/* Undo custom dropdowns */
.navbar .navbar-nav .open .dropdown-menu {
  position: absolute;
  float: left;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-width: 0 1px 1px;
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #333;
}
.navbar .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar .navbar-nav .open .dropdown-menu > li > a:focus,
.navbar .navbar-nav .open .dropdown-menu > .active > a,
.navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #fff !important;
  background-color: #428bca !important;
}
.navbar .navbar-nav .open .dropdown-menu > .disabled > a,
.navbar .navbar-nav .open .dropdown-menu > .disabled > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .disabled > a:focus {
  color: #999 !important;
  background-color: transparent !important;
}

/* Undo form expansion */
.navbar-form {
  float: left;
  width: auto;
  padding-top: 0;
  padding-bottom: 0;
  margin-right: 0;
  margin-left: 0;
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/* Copy-pasted from forms.less since we mixin the .form-inline styles. */
.navbar-form .form-group {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
}

.navbar-form .form-control {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}

.navbar-form .form-control-static {
  display: inline-block;
}

.navbar-form .input-group {
  display: inline-table;
  vertical-align: middle;
}

.navbar-form .input-group .input-group-addon,
.navbar-form .input-group .input-group-btn,
.navbar-form .input-group .form-control {
  width: auto;
}

.navbar-form .input-group > .form-control {
  width: 100%;
}

.navbar-form .control-label {
  margin-bottom: 0;
  vertical-align: middle;
}

.navbar-form .radio,
.navbar-form .checkbox {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  vertical-align: middle;
}

.navbar-form .radio label,
.navbar-form .checkbox label {
  padding-left: 0;
}

.navbar-form .radio input[type="radio"],
.navbar-form .checkbox input[type="checkbox"] {
  position: relative;
  margin-left: 0;
}

.navbar-form .has-feedback .form-control-feedback {
  top: 0;
}

/* Undo inline form compaction on small screens */
.form-inline .form-group {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
}

.form-inline .form-control {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}

.form-inline .form-control-static {
  display: inline-block;
}

.form-inline .input-group {
  display: inline-table;
  vertical-align: middle;
}
.form-inline .input-group .input-group-addon,
.form-inline .input-group .input-group-btn,
.form-inline .input-group .form-control {
  width: auto;
}

.form-inline .input-group > .form-control {
  width: 100%;
}

.form-inline .control-label {
  margin-bottom: 0;
  vertical-align: middle;
}

.form-inline .radio,
.form-inline .checkbox {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  vertical-align: middle;
}
.form-inline .radio label,
.form-inline .checkbox label {
  padding-left: 0;
}

.form-inline .radio input[type="radio"],
.form-inline .checkbox input[type="checkbox"] {
  position: relative;
  margin-left: 0;
}

.form-inline .has-feedback .form-control-feedback {
  top: 0;
}

@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);

.col-item
{
    border: 1px solid #E1E1E1;
    border-radius: 5px;
    background: #FFF;
}
.col-item .photo img
{
    margin: 0 auto;
    width: 100%;
}

.col-item .info
{
    padding: 10px;
    border-radius: 0 0 5px 5px;
    margin-top: 1px;
    text-align: center;
}


.col-item .cat
{
    /*width: 50%;*/
    float: left;
    margin-top: 5px;
    color: #07c394;
}

.col-item .cat h5
{
    line-height: 20px;
    margin: 0;
    color: #07c394;
}

.price-text-color
{
    color: #219FD1;
}

.col-item .info .rating
{
    color: #777;
}

.col-item .rating
{
    /*width: 50%;*/
    float: left;
    font-size: 17px;
    text-align: right;
    line-height: 52px;
    margin-bottom: 10px;
    height: 52px;
}

.col-item .separator
{
    border-top: 1px solid #E1E1E1;
}

.clear-left
{
    clear: left;
}

.col-item .separator p
{
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 10px;
    text-align: center;
}

.col-item .separator p i
{
    margin-right: 5px;
}
.col-item .btn-add
{
    width: 100%;
    float: left;
    color:#fff;
    background-color: #36cca7;
    padding-top: 8px;
    padding-bottom: 8px;
}


.col-item .btn-bk
{
    width: 100%;
    float: left;
    color:#07c394;
}




.col-item .btn-bk
{
    border-right:  1px solid #E1E1E1;
}

.col-item .btn-bk
{
    width: 50%;
    float: left;
    color:#07c394;
}
.col-item .btn-bk a
{
    text-decoration: none;
    
    color:#5b5b5b;
}



.col-item .btn-add a
{
    text-decoration: none;
    font-weight: 600;
    color:#fff;
}



.col-item .btn-details
{
    width: 50%;
    float: left;
    color:#07c394;
    padding-left: 10px;
}

.col-item .btn-details a
{
    text-decoration: none;
    
    color:#5b5b5b;
}

.controls
{
    margin-top: 20px;
}
[data-slide="prev"]
{
    margin-right: 10px;
}






#grad1 {
  margin-top: 100px;
    height: 500px;
    background: red; /* For browsers that do not support gradients */
    background: linear-gradient(to right, #f6f8f9 , #e8f9f7); /* Standard syntax (must be last) */
}

.pws-mobille-app-ad{
width: 350px;
height: 328px;
padding-left: 30px;
margin-top: 100px;
margin-left: 100px;


}

.pws-btn-download{
  
  background-color: #5ccb9b;
  font-size: 20px;
 padding: 10px 25px 10px 25px ;
 border-radius: 5px;

  color: #fff;
}

.pws-btn-download:hover{
  text-decoration: none;
  color: #fbfbfb;
}



.pws-text-sec{

  margin-top: 120px;
}
.pws-app-section h1{

  color: #4fe0a1;
}
.pws-app-section h3{

  color: #76c9a5;
}

.pws-app-section p{

  color: #42b09d;
  font-size: 16px;
}










/* footer*/

.full {
    width: 100%;    
}
.gap {
  height: 30px;
  width: 100%;
  clear: both;
  display: block;
}
.footer {
  background: #484a56;
height: auto;
padding-bottom: 30px;
position: relative;
width: 100%;
border-bottom: 1px solid #484a56;
border-top: 1px solid #5c5454;
}
.footer p {
  margin: 0;
}
.footer img {
  max-width: 100%;
}
.footer h3 {
 
  color: #e0dfdf;
  font-size: 16px;
  font-weight: 600;
  line-height: 27px;
  padding: 40px 0 10px;

}
.footer ul {
  font-size: 13px;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  margin-top: 15px;
  color: #7a7982;
}
.footer ul li a {
  padding: 0 0 5px 0;
  display: block;
}
.footer a {
  color: #7a7982
}
.supportLi h4 {
  font-size: 20px;
  font-weight: lighter;
  line-height: normal;
  margin-bottom: 0 !important;
  padding-bottom: 0;
}
.newsletter-box input#appendedInputButton {
  background: #FFFFFF;
  display: inline-block;
  float: left;
  height: 30px;
  clear: both;
  width: 100%;
}
.newsletter-box .btn {
  border: medium none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  height: 40px;
  padding: 0;
  width: 100%;
  color: #fff;
}
.newsletter-box {
  overflow: hidden;
}
.bg-gray {
 background-color: #5ccb9b;
  box-shadow: 0 1px 0 #B4B3B3;
}
.social li {

  float: left;
  height: 36px;
  line-height: 36px;
  margin: 0 8px 0 0;
  padding: 0;
  text-align: center;
  width: 36px;
 
}
.social li:hover {
  transform: scale(1.15) rotate(360deg);
  -webkit-transform: scale(1.1) rotate(360deg);
  -moz-transform: scale(1.1) rotate(360deg);
  -ms-transform: scale(1.1) rotate(360deg);
  -o-transform: scale(1.1) rotate(360deg);
}
.social li a {
  color: #EDEFF1;
}
.social li:hover {
  border: 2px solid #2c3e50;
  background: #2c3e50;
}
.social li a i {
  font-size: 16px;
  margin: 0 0 0 5px;
  color: #fff !important;
}


.pws-social{
  float: left;
  margin-right: 20px;
}

.pws-social li{

 list-style: none;
  border: 1px solid #fff;
  font-size: 15px;
  float: left;
  height: 36px;
  line-height: 36px;
  margin: 0 8px 0 0;
  padding: 0;
  text-align: center;
 
 

}



.pws-social .fa-facebook-square{
  color: #3B5998;
  
}
.pws-social .fa-twitter{
  color: #00aced;
  
}
.pws-social .fa-google-plus{
  color: #d34836;
  
}

.footer-bottom {
  background: #484a56;
border-top: 1px solid #484a56;
padding-top: 10px;
padding-bottom: 10px;
color: #7a7982;
}
.footer-bottom p.pull-left {
  padding-top: 6px;
}
.payments {
  font-size: 1.5em; 
}



/**login and reg*/
.modal-header {
  padding: 0;
  height: 60px;
}
.modal-header .close {
  padding: 20px 15px;
}
.modal-header ul {
  border: none;
  margin-top: 18px;
}
.modal-header ul li {
  margin: 0;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #36cca7;
    cursor: default;
    background-color: #fff;
    border-top-color:#fff; 
    border-left-color:#fff; 
    border-right-color:#fff; 
    border-bottom: 2px solid #000;
}


@import url('https://fonts.googleapis.com/css?family=Maven+Pro');



.pws-login-label{
  color: #8a8e8d;
  font-weight: normal;
  font-size: 13px;
    font-family: 'Molengo', sans-serif;
}

.modal-header ul li a {
  color: #7f8281;
  border: none;
  border-radius: 0;
  font-family: 'Maven Pro', sans-serif;

}
.modal-header ul li a .active {
  color: #36cca7;
  border-top: none;
border-bottom: 2px solid #000;
  
}
.modal-header ul li a:hover {
  border: none;
}
.modal-header ul li a span {
  margin-left: 10px;
}
.modal-body .form-group {
  margin-bottom: 10px;
}

.login-register-form{
  margin-top: 200px;
}


.login-register-otp{
  margin-top: 200px;
}


.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #fff !important;
}

.modal-content{
border-radius: 0;
  width: 400px ;
  box-shadow: none;
}
.pws-mobileinput{
font-family: 'Maven Pro', sans-serif;
  border-radius: 0;
  border: 1px solid  #36cca7;
  margin-bottom: 20px;
}






.pws-mobileinput-otp{
font-family: 'Maven Pro', sans-serif;
  border-radius: 0;
  border: 1px solid  #36cca7;
}






.pws-login-otp{
  font-size: 11px;
  font-weight: normal;
  margin-bottom: 20px;
}

.pws-fget-pass {
  margin-top: -30px;
  font-size: 12px;
}
 
.pws-fget-pass a{
  margin-top: -30px;
  font-size: 12px;
  color: #36cca7;
}

.pws-login-btn{

  width: 100%;
  background-color:#36cca7;
  border-color: #36cca7;
  border-radius:0;
  color: #fff;
  padding-top: 9px;
  padding-bottom: 9px;

}

.pws-update-btn{

  width: 25%;
  background-color:#36cca7;
  border-color: #36cca7;
  border-radius:0;
  color: #fff;
  padding-top: 9px;
  margin-right:  60px;
  padding-bottom: 9px;

}
.pws-update-btn:hover{

 background-color: #61debf;
   border-color:#61debf;
  color: #fff;
}




.pws-login-btn:hover{
  background-color: #61debf;
   border-color:#61debf;
  color: #fff;
}




.pws-terms{
  color: #36cca7;
}


.pws-btm-space{
  margin-bottom: 60px;
}

.checkbox{
margin-bottom: 15px;
  font-size: 12px;
border-radius: 0;
}








/* The container */
.container_pws {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 11px;
    color: #7f7f7f;
    font-weight: normal;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container_pws input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container_pws:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container_pws input:checked ~ .checkmark {
    background-color: #36cca7;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container_pws input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container_pws .checkmark:after {
    left: 5px;
    top: 2px;
    width: 6px;
    height: 9px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}